<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogFile="logs\nlog.txt"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogToConsole="true"
      internalLogLevel="info"
      >
  
     
  
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
<!--
  <variable name="log-root" value="Log" />
  <variable name="log-daily" value="${log-root}/${date:format=yyyy}/${date:format=yyyy-MM}/${shortdate}" />
-->
  <!-- the targets to write to -->
  <targets>
    
    <!--TO LOCAL FILE TXT-->
    <target xsi:type="File" name="FileLog" fileName="${basedir}/log/${shortdate}_${uppercase:${level}}_relation.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

   <!-- TO DATABASE -->
	  <target name="ReqDatabase" xsi:type="Database" dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient" >
      <!-- Provider換成較新的Microsoft.Data.SqlClient-->
      
		  <connectionString>Data Source=TDTSQL;Password=ecdb;Persist Security Info=False;User ID=ECDB;Initial Catalog=ECDB;TrustServerCertificate=true</connectionString>
      <!--<connectionString>${configsetting:name=ConnectionStrings.ProdConStr}</connectionString>-->
      
		  <commandText>
			  INSERT INTO [dbo].[OnlineManagerLog]
			  ([ClientIP],[SessionID],[UserAgent],[RequestUrl],[Method],[Headers],[RequestBody],[ResponseBody]
			  ,[ServerName],[SysId],[EmpNo],[RequestLogTime],[ResponseLogTime])
			  VALUES
			  (@ClientIP,@SessionID,@UserAgent,@RequestUrl,@Method,@Headers,@RequestBody,@ResponseBody
			  ,@ServerName,@SysId,@EmpNo,GETDATE(),GETDATE());
		  </commandText>
      
		  <parameter name="@ClientIP" layout="${event-properties:ClientIP}" dbType="DbType.String"/>
		  <parameter name="@SessionID" layout="${event-properties:SessionID}" dbType="DbType.String"/>
		  <parameter name="@UserAgent" layout="${event-properties:UserAgent}" dbType="DbType.String"/>
		  <parameter name="@RequestUrl" layout="${event-properties:RequestUrl}" dbType="DbType.String"/>
		  <parameter name="@Method" layout="${event-properties:Method}" dbType="DbType.String"/>		  
		  <parameter name="@RequestBody" layout="${event-properties:RequestBody}" dbType="DbType.String"/>
      <parameter name="@ResponseBody" layout="${event-properties:ResponseBody}" dbType="DbType.String"/>
		  <parameter name="@Headers" layout="${event-properties:Headers}" dbType="DbType.String"/>
      <parameter name="@ServerName" layout="${event-properties:ServerName}" dbType="DbType.String"/>
		  <parameter name="@SysId" layout="${event-properties:SysId}" dbType="DbType.String"/>
      <parameter name="@EmpNo" layout="${event-properties:EmpNo}" dbType="DbType.String"/>  
      
	  </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="Trace" writeTo="FileLog" />
    <logger name="FileLog" minlevel="Trace" writeTo="FileLog" />
    <logger name="DbReqLog" minlevel="Trace" writeTo="ReqDatabase" />
  </rules>
</nlog>